.App-header {
    background-color: #033076;
    min-height: 70px;
    padding: 20px;
    color: white;
  }
  
  .success-header {
    background-color: #00D9D9;
    min-height: 70px;
    padding: 20px;
    color: white;
  }